.card {
  background-color: #b5e2fa;
  max-width:45%;
}

i {
  font-size: 6em;
}

p {
  font-size: 1.3em;
}

.weather {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
}


