.card {
  background-color: #b5e2fa;
}

i{
  font-size: 6em;
}

.weather{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;

}